@{
    ViewData["Title"] = "Home Page";

}
<head>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-lDVq4FzNpeElgKGW-F4Im91M0dQc--w&callback=initMap"></script>
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome you have succesfully signed in</h1>
    <div id="map" style="height: 400px;"></div>
    <a asp-action="LogOut">Sign Out</a>
</div>
<script>
    function initMap() {
        // Initialize the map
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 27.700000, lng: 85.333200 },
            zoom: 10
        });

        var markers = []; // Array to store the markers

        function updateLocations() {
            fetch('/Home/GetLocations')
                .then(response => response.json())
                .then(locations => {
                    // Remove existing markers from the map
                    markers.forEach(marker => marker.setMap(null));
                    markers = [];

                    // Add markers for each location
                    locations.forEach(location => {
                        var marker = new google.maps.Marker({
                            position: { lat: location.latitude, lng: location.longitude },
                            map: map
                        });
                        markers.push(marker);
                    });
                });
        }

        // Update user locations initially and every 5 seconds
        updateLocations();
        setInterval(updateLocations, 5000);
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-lDVq4FzNpeElgKGW-F4Im91M0dQc--w&callback=initMap"></script>